* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Inter";
  
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  margin-left: 100px;
}
/* Add a new class for the image container */
.image-container {
  position: absolute;
  left: 20px;
  top: 220px;
  text-align: center;
  margin-top: 20px; /* Adjust the top margin as needed */
}
/* Style for the image */
.image-container img {
  width: 100%; /* Adjust the width based on your design */
  max-width: 300px; /* Set a maximum width for the image */
  
}

.library-dashboard .header-container {
  height: calc(101.45vh - 72px);
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 100px;
}

.library-dashboard header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e8eb;
  width: 380px;
  height: 650px;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 100px;
  box-shadow: 0px 8px 15px rgba(159, 158, 158, 0.938);
  border-radius: 15px;
}

.library-dashboard header h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color:#13064b;
  margin-bottom: 10px;
  margin-top: 10px;
}

.library-dashboard header a {
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #13064b;
  padding: 12px;
  width: 302px;
  height: 44px;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 0px 8px 15px rgba(151, 188, 218, 0.938);
}

.library-dashboard .hero-content {
  text-align: center;
  align-items: center;
  margin-left: -63px;
}


/* Add position fixed and width 100% to the .nav-container */
.nav-container {
background: #303030;
box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.57);
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
z-index: 9999;
}

/* Add padding-top equal to the height of the navbar to the .header-container */
.header-container {
padding-top: 50px;
}